#root {
  // position: absolute;
  .header {
    .wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 30;
      margin: 0 auto;
      text-align: center;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;

      img,
      .logout {
        width: 25px;
        height: 25px;
        color: #fff;
        &:hover {
          fill: blue;
        }
      }
      .logo {
        width: 150px;
        height: 60px;
        display: flex;
        align-items: center;
      }
      .navigation1 {
        padding-left: 19%;
        .nav-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 45px);
          column-gap: 0px;
          .nav {
            display: flex;
            align-items: center;
          }
        }
      }
      .navigation2 {
        padding-right: 19%;
        .nav-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 45px);
          column-gap: 0px;
          .nav {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
