#root {
  .header {
    position: fixed;
    top: 0;
    left: 19%;
    right: 19%;
    z-index: 30;
    .wrapper {
      text-align: center;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      img,
      .logout {
        width: 30px;
        height: 30px;
        color: #fff;
        &:hover {
          fill: blue;
        }
      }
      .logo {
        width: 150px;
        height: 60px;
        display: flex;
        align-items: center;
      }
      .navigation1 {
        margin-right: 200px;

        .nav-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 50px);
          column-gap: 8px;
          .nav {
            display: flex;
            align-items: center;
          }
        }
      }
      .navigation2 {
        margin-left: 200px;
        margin-right: 20px;
        .nav-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 50px);
          column-gap: 8px;
          .nav {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
