#root {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 30;
    .wrapper {
      margin: 0 auto;
      width: 90%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img,
      .logout {
        width: 35px;
        height: 35px;
        color: #fff;
        &:hover {
          fill: blue;
        }
      }
      .logo {
        width: 124px;
        display: flex;
        align-items: center;
      }
      .navigation {
        .nav-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 90px);
          column-gap: 18px;
          .nav {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
