.abc {
  width: 100px;
  text-align: left;
  height: 20px;
  font-size: 20px;
}
.def {
  input {
    width: 200px;
    text-align: left;
    height: 20px;
  }
}
.addr {
  margin-top: 10px;
  // margin-left: 88px;
  // width: 340px;
  // padding-top: 10px;
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  // margin-left: 25px;
  line-height: -30px;
  .abcc {
    padding-top: 10px;
    width: 100px;
    text-align: left;
    height: 20px;
    font-size: 20px;
    // margin-left: -25px;
  }
  input {
    // margin-left: 12px;
    width: 150px;
    height: 20px;
  }
  .joinSearch {
    margin: 0;
    // margin-top: 30px;
    // margin-left: 10px;
    // padding-top: 5px;
    // height: 20px;
    width: 50px;
    height: 38px;
  }
}

/*가입페이지 이동버튼*/
.login__register a {
  color: #0095f6;
}
// 성별라디오
.select {
  // padding: 15px 10px;
  // margin-right: 10px;
}
.select input[type='radio'] {
  display: none;
}
.select input[type='radio'] + label {
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  height: 35px;
  width: 100px;
  border: 1px solid #ccc;
  line-height: 33px;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;
  margin-bottom: 12px;
}
.select input[type='radio'] + label {
  background-color: #fff;
  transition: background 0.5s;
  color: #333;
}
.select input[type='radio']:checked + label {
  background-color: rgb(156, 156, 248);

  opacity: 1;
  color: white;
}
.joinSearchTd {
  height: 20px;
}
