body {
background-color: rgb(248, 247, 247);

#root {
  padding-top: 10px;
}

p {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Dongle', sans-serif;
  font-size: 40px;
}

.fcinput{
  background: transparent;
}

.mainbox {
display: inline-block;
  margin:20px;
  width: 440px;
  height: 300px;
  overflow: auto;
  }

        .mainbox::-webkit-scrollbar {
      width: 10px;
      /* 스크롤바의 너비 */
    }
  
        .mainbox::-webkit-scrollbar-thumb {
      height: 30%;
      /* 스크롤바의 길이 */
      background: #217af4;
      /* 스크롤바의 색상 */
  
      border-radius: 10px;
    }
  
     .mainbox::-webkit-scrollbar-track {
      background: rgba(33, 122, 244, .1);
      /*스크롤바 뒷 배경 색상*/
    }

.mainfeedbox {
 margin-bottom: 40px;
}

.mainlistbox {
  margin-right: 20px;
  border: 1px solid black;
  // border-radius: 10px;
  // border-collapse: collapse;
}

.fcinput {
  margin-left: 40px;
  border-radius: 10px;

}

.fclist {
  height:100px;
  width:420px;
  overflow: auto;
}

.fclist::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바의 너비 */
}

.fclist::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #217af4;
  /* 스크롤바의 색상 */

  border-radius: 10px;
}

.fclist::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
  /*스크롤바 뒷 배경 색상*/
}


.mainfcbox {
  border: 1px solid black;
  border-radius: 10px;
}

}