body {
background-color: rgb(248, 247, 247);

#root {
  padding-top: 10px;
}

.fcinput{
  background: transparent;
}

.mainbox {
  display:flex;
  margin:20px;
  }

.mainlistbox {
  margin-right: 20px;
  border-collapse: collapse;
}

.fcinput {
  margin-left: 40px;
  border-radius: 10px;
}

.fclist {
  height:100px;
  overflow: auto;
}

}