
.myfeedlistbox {
    margin:0 auto;
    display: block;
    width: 700px;
    height: 350px;
    // overflow: auto;
}

// .myfeedlistbox::-webkit-scrollbar {
//     width: 10px;
//     /* 스크롤바의 너비 */
// }

// .myfeedlistbox::-webkit-scrollbar-thumb {
//     height: 30%;
//     /* 스크롤바의 길이 */
//     background: rgb(248, 245, 245);
//     /* 스크롤바의 색상 */

//     border-radius: 10px;
// }

// .myfeedlistbox::-webkit-scrollbar-track {
//     background: rgb(248, 245, 245);
//     /*스크롤바 뒷 배경 색상*/
// }