#root {
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
}

.fcommantbox {
        border:none;
                background-color: rgb(248, 245, 245);
}

.fclistbox {
    border-collapse: collapse;
                background-color: rgb(248, 245, 245);
          background-color: #fff;
          border-radius: 10px;
          width: 700px;
}

.userid {
    background-color: rgb(248, 245, 245);
    border-radius: 80px;
    height: 100px;
    width: 100px;
}


